

.header{
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    margin-bottom: 8vh;
}

.icon_img{
    height: 5em;
    width:  5em;
    background-image: url("../assets/profeAlex.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.container_icon{
    display: flex;
    flex-direction: column;
    gap: .5em;
}